@media screen and (max-width: 400px) {
    
}
body {background-color: rgb(250, 238, 217);
border-style: groove;
border-color: rgb(199, 155, 74);
border-width: 10px;}
h1 { color: rgb(236, 152, 56);}

.p4 { color: rgb(209, 152, 65); text-align: center;
padding-bottom: 1%;
padding-top: 1%;
border-style: groove;
border-color: rgb(87, 240, 245);
border-width: 10px;
margin-left: 25%;
margin-right: 25%;}
.p3 {color:darkgoldenrod; 
text-align: center;
padding-bottom: 1%;
padding-top: 1%;
border-style: groove;
border-color: aqua;
border-width: 10px;
margin-left: 25%;
margin-right: 25%;
}
.p2 {color: rgb(255, 255, 255);}
.p1 { color: rgb(0, 255, 255);}

div { text-align: center;
font-size: 150%;
border-color: rgb(237, 253, 235);
border-width: 5px;
border-style: dashed;
margin-left: 30%;
margin-right: 30%;
margin-top: 10%;
padding-bottom: 5%;
padding-top: 5%;

}
a { text-align: center;
padding-top: 5%;
padding-bottom: 5%;}

